<!DOCTYPE html>
<html>
<head>
  <title>LangTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
	<% %i(en es de fr).each do |locale| %>
	<li><a href="?locale=<%= locale %>"><%= locale %></a></li>
	<% end %>
</ul>
<%= yield %>

</body>
</html>
